.navbar__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav__left {
   width: 20%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.icon {
   width: 30px;
   height: 30px;
}
.icon img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.nav_right {
   width: 40%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav_right__link {
   width: 70px;
}
.nav__left__link a, .nav_right__link a {
   color: #8d94ad;
   vertical-align: top;
   text-decoration: none;
}
.icon_nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 10px;
}

.hearth {
   font-size: 40px;
   margin-right: 13px;
   margin-left: -10px;
   color: #8d94ad;
}
.navbar__section {
   background-color: #5208ff;
   padding: 10px 0;
}

.navbar__section__wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr 4fr 1fr;
   align-items: center
}

.logolink {
   font-size: 40px;
 
}
.logolink a {
   color: white;
   font-weight: 700;
   text-decoration: none;
}
.dropdown {
   outline: none;
}
.dropdown a{
   background-color: inherit !important;
   border:none;
}

.catalog__button button{
   background-color: #7ED321;
   width: 130px;
   height: 40px;
   border: none;
   border-radius: 10px;
   color: white
}
.fa-plus {
   margin-right: 5px;
}

.search__form input {
   width: 60%;
   border: none;
   outline: none;
   height: 40px;
   border-radius: 7px 0  0 7px;
   padding-left: 15px;
   display: block;
}
.search__form select {
   background-color: white;
   border: none;
   outline: none;
   font-size: 20px;
   width: max-content;
   padding: 6px 50px 5px 0;
   color: #8d94ad;
   margin-left: -10px;
   display: block;  
}

.search__form {
   display: flex;
   align-items: center
}
.search__button {
   background: white;
   padding: 3px 10px 3px 6px;
   color: #8d94ad;
   border-radius: 0 7px  7px 0;
}
.search__button button {
    width: auto;
    background: linear-gradient(113deg, #2234fe, #2454fe 35%, #2884fe 100%);
    background-size: 13px, contain;
    height: 34px;
    line-height: normal;
    border-radius: 7px;
    border: none;
    color: white;
    padding: 5px 30px 5px 30px;
}

.catalog {
   padding-top: 30px;
}
.catalog__wrapper {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   column-gap: 20px;
}
.catalog__item {
   text-decoration: none;
}
.catalog__item__icon {
   width: 80%;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   transition: all 0.3s;
   margin: 0 auto; 
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.catalog__item__icon img{
   width: 60px;
   height: 60px;
   object-fit: contain;
}  
.catalog__item__title {
   text-align: center;
   font-size: 15px;
   margin-top: 8px;
   transition: all 0.3s;
   text-decoration: none;
   color: black;
   font-weight: bold;
   font-family: Helvetica;
   text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb, 
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
}



.catalog__item:hover .catalog__item__icon{
   border: 2px solid rgb(0, 42, 255);
   color: rgb(0, 34, 255)
}
.product{
   padding-right: 900px;
   margin-left: 100px;
}


.catalog__item:hover .catalog__item__title{
   color: rgb(30, 0, 255)
}